{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un projet
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container-projet">
		<h1 class="text-center">Modification d'un projet</h1>
		{% include 'Backend/Projet/_form.html.twig' with { buttonLabel: 'Modifier' } %}
	</section>
{% endblock %}
