<div>
	<div class="blog-card-img">
		<img src="{{ vich_uploader_asset(projet, 'image')}}" alt="photo" class="zoomphoto">
	</div>
	<div>
		<h2 class="blog-card-content-title">{{ projet.title|sanitize_html }}</h2>
		<em class="blog-card-content-tags text-muted">
			{% for categorie in projet.categories %}
				#{{ categorie.title|sanitize_html  }}
			{% endfor %}
		</em>
		<p class="blog-card-content-desc">{{ projet.content|sanitize_html }}</p>
	</div>
	<div class="">
		<a href="{{ path('admin.projets.edit', {id: projet.id}) }}" class="btn btn-warning">Modifier</a>
		{% include 'Backend/Projet/_deleteForm.html.twig' %}
	</div>
</div>
